<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <link rel="icon" href="../static/images/icon G2.png" sizes="192x192" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/site.css">
    <link rel="manifest" href="../static/manifest.json">
</head>
<body>
    <div class="navbar">
        <a href="/" class="navbar-brand"><img src="../static/images/icon G2.png" class="navbar-logo" alt="logo"></a>
        <a href="{{ url_for('index') }}" class="navbar-item">Canal</a>
        <a href="{{ url_for('micanal') }}" class="navbar-item">Portafolio</a>
        <button id="installButton" type="button" style="display: none;">Instalar App</button>
        <div class="navbar-right">{{ content }}</div>
    </div>

    <div class="body-content">
        {% block content %}
        {% endblock %}
        <hr>
        <footer>
            <p>Copyright &copy; EG90 2024</p>
        </footer>
    </div>
    <script src="../static/javascripts/main.js" defer></script>
</body>
</html>