<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <link rel="icon" href="static/images/icon G2.png" sizes="192x192" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/site.css">
    <link rel="manifest" href="../static/manifest.json">
    <link rel="stylesheet" href="../static/css/site.css">
</head>
<body>
    <div class="navbar">
        <a href="/" class="navbar-brand"><img src="static/images/icon G2.png" class="navbar-logo" alt="logo"></a>
        <a href="{{ url_for('index') }}" class="navbar-item">Canal</a>
        <a href="{{ url_for('micanal') }}" class="navbar-item">Portafolio</a>
        <div class="navbar-right">{{ content }}</div>
    </div>

    <div class="body-content">
        {% block content %}
        {% endblock %}
        <hr>
        <footer>
            <p>Copyright &copy; EG90 2024</p>
        </footer>
    </div>
</body>
</html>